<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/tokens.css" />
    <link rel="stylesheet" href="/css/utilities.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <title>Document</title>
  </head>
  <body onload="getUser()">
    <main>
      <section id="view"></section>
      <% kids.forEach((kid) => %>
      <div class="d-flex align-items-center justify-content-start p3 mx-0 mb-4 rounded-3 card">
            <a href="/admin/user.html?user=<%=user.id%>"><img src="/photos/<%=kid.profile_picture%>""
            alt="avatar" class="avatar d-block rounded-3 me-4 flex-nowrap" />
            </a>
            <h3 class="me-4 my-0 w-100"><%=kid?.first_name user.last_name "," kid?.age %></h3>

            <button onclick="check(kid?.id, kid?.checked_in)" 
            id="<%=user.id%>" 
            class="<%kid?.checked_in
              ? "checked_in bg-success rounded-circle d-block flex-nowrap"
              : "checked_out bg-danger rounded-circle nd-block flex-nowrap"
          %></button>"></button>
        </div>
      <%)%>
    </main>

    <!-- get user  -->
    <script>
      async function getUser() {
        const view = document.getElementById("view");

        const userId = location.search.split("user=")[1];

        const auth = localStorage.getItem("auth") || null;

        if (!auth) return (window.location.href = "/admin/login.html");

        try {
          const req = await fetch(
            "http://localhost:3030/api/users" + `/${userId}`,
            {
              headers: {
                auth,
              },
            }
          );
          const user = await req.json();

          const wrapper = document.createElement("div");
          wrapper.classList.add("py-5");

          const card = `
          
         `;
          wrapper.innerHTML = card;
          view.appendChild(wrapper);
        } catch (error) {
          console.log(error);
        }
      }
    </script>

    <!-- check status -->
    <script>
      async function check(id, status) {
        const userId = document.getElementById("checkbtn");
        const textContent = document.querySelector("#checkbtn b");
        const checkIcon = document.querySelector("#check-icon");

        try {
          const req = await fetch(
            `http://localhost:3030/api/users/${
              status === 0 ? "checkin" : "checkout"
            }/${id}`,
            {
              method: "PUT",
            }
          );
          const res = await req.json();

          if (res.status === 200 && status === 1) {
            userId.classList.remove("bg-success");
            userId.classList.add("bg-danger");
            textContent.textContent = "Check-In";
            checkIcon.classList.remove("checked_in");
            checkIcon.classList.add("checked_out");
            userId.setAttribute("onclick", `check(${id}, 0)`);
          } else if (res.status === 200 && status === 0) {
            userId.classList.remove("checked_in", "bg-danger");
            userId.classList.add("bg-success");
            textContent.textContent = "Check-Out";
            checkIcon.classList.remove("checked_out");
            checkIcon.classList.add("checked_in");
            userId.setAttribute("onclick", `check(${id}, 1)`);
          }
        } catch (error) {
          console.error(error);
        }
      }
    </script>
  </body>
</html>
