<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.png" />
    <link rel="stylesheet" href="/global.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chikios | Get your kid registered</title>
    <script type="module" crossorigin src="/assets/index.6a9a551d.js"></script>
    <link rel="stylesheet" href="/assets/index.09d0d78b.css" />
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
