<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous"
  />
  <style>
    .dr_form{
        max-width: 500px;
        margin: auto;
    }
    .dr-display {
        display: block;
    }
    
    .dr-hide {
        display: none;
    }
  </style>
    <title>Login</title>
</head>
<body>
    <section class="container-sm"><h1 class="fs-3 mt-5">Log In</h1>
    <form  class="mt-5 dr_form" method="POST" action="/login" id="login-form">
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username" name="username">
        </div>
        <div class="form-group mt-3">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="admin_password">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>

        <p class="my-2">Don't have an account? register now!</p>
        <div>
            <a href="/register" class="btn btn-secondary mt-2 ml-2">Register instead</a>
        </div>
        
        <div class="my-3 alert alert-primary alert-danger dr-hide" role="alert" id="error-message"></div>

      </form>
     
    </section>

    <script>
const form = document.getElementById("login-form");
const errorMessage = document.getElementById("error-message");


const login = async (e)=>{

    e.preventDefault();

    const inputs = document.getElementsByTagName("input");
    const data = {};

    for(let i = 0; i < inputs.length; i++){
        data[inputs[i].name] = inputs[i].value
    }

    const request = await fetch("/login", {
        method: "POST",
        headers:{
            "Content-Type" : "application/json"
        }, 
        body: JSON.stringify(data)
    })

    const response = await request.json();

    console.log(response)
    if(response.error === 1){
        errorMessage.textContent = "Wrong credentials. Try again!";
        errorMessage.style.display = "block";
        return ;
    }

    if(response.error === 2){
        errorMessage.textContent = "Something went wrong. Please try again later!";
        errorMessage.style.display = "block";

        return ;
    }

    let date = new Date(Date.now() + 86400e3);
    date = date.toUTCString();

    document.cookie  = `authorization=${response.token}; path=/;samesite=strict;expires=${date};`
    location.href = '/admin'
}

form.addEventListener('submit', login)

    </script>
</body>
</html>