<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('_partials/head') %>
    <link rel="stylesheet" href="/css/index.css" />
    <title>Chikios by Shrood</title>
  </head>
  <body class="bg-beta">
    <section
      class="landing-section d-flex align-items-center justify-content-center"
    >
      <div class="landing-section__content">
        <h1 class="text-center mb-2">Welcome to Chikios</h1>
        <p class="opacity-70 text-center mb-4">
          Chikios is a light-weight application to helps manage event
          registrations ⚡️
        </p>
        <a
          class="bg-info rounded-1 p-4 d-block w-100 color-beta text-center mb-2"
          href="/login"
          >Login</a
        >
        <a
          class="bg-epsilon rounded-1 p-4 d-block w-100 color-alpha text-center"
          href="/signup"
        >
          Register
        </a>
      </div>
    </section>
  </body>
</html>
