<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('_partials/head') %>

    <title>Shrood | Chikios</title>
  </head>
  <body>
    <main>
      <div class="pt-5">
        <h1 class="mb-3">Create an account</h1>

        <h3 class="mb-3 mx-0d mt-0">Get started below</h3>

        <section id="form-data">
          <div class="mb-5">
            <div
              class="d-flex align-items-center flex-nowrap flex-wrap w-100 mb-4"
            >
              <div style="min-width: 100px">
                <p
                  style="font-size: 16px"
                  class="chikios-paragraph me-3 flex-shrink-0 text-left"
                >
                  First name:
                </p>
              </div>
              <div class="w-100">
                <input
                  type="text"
                  placeholder="Enter first name"
                  class="form_input p-3 bg-info-subtle rounded-3 w-100"
                  id="fn"
                  onkeydown="filterRegistrants()"
                  onfocus="displayDropdown()"
                />
              </div>
            </div>
            <div
              class="d-flex align-items-center flex-nowrap flex-wrap w-100 mb-4"
            >
              <div style="min-width: 100px">
                <p
                  style="font-size: 16px"
                  class="chikios-paragraph me-3 flex-shrink-0 text-left"
                >
                  Last name:
                </p>
              </div>
              <div class="w-100">
                <input
                  type="text"
                  placeholder="Enter last name"
                  class="form_input p-3 rounded-3 w-100"
                  id="ln"
                />
              </div>
            </div>
          </div>

          <div
            class="d-flex align-items-center flex-nowrap flex-wrap w-100 mb-4"
          >
            <div style="min-width: 100px">
              <p class="chikios-paragraph me-3 flex-shrink-0 text-left">
                Email
              </p>
            </div>
            <div class="w-100">
              <input
                type="text"
                placeholder="Enter email"
                class="form_input p-3 rounded-3 w-100"
                id="email"
              />
            </div>
          </div>
          <div
            class="d-flex align-items-center flex-nowrap flex-wrap w-100 mb-4"
          >
            <div style="min-width: 100px">
              <p class="chikios-paragraph me-3 flex-shrink-0 text-left">
                Password
              </p>
            </div>
            <div class="w-100">
              <input
                type="text"
                placeholder="Enter password"
                class="form_input p-3 rounded-3 w-100"
                id="password"
              />
            </div>
          </div>

          <button
            class="rounded-1 w-100 bg-epsilon color-alpha"
            id="register-btn"
            onclick="handleRegister()"
          >
            <span>Register</span>
          </button>
        </section>
      </div>
    </main>
    <div style="width: 100%; height: 5rem"></div>

    <script>
      async function handleRegister(event) {
        const { first_name, last_name, email, password } = getInputs();

        const canContinue = validateInputs();

        // Create JSON body
        const body = JSON.stringify({
          first_name,
          last_name,
          password,
          email,
        });

        if (!canContinue) {
          return;
        }

        handleLoadingState(true);

        // Send POST request using fetch
        try {
          const req = await fetch("/signup", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body,
          });
          const res = await req.json();

          if (res?.success) {
            const query = `id=${res.newRegistrantId}&firstName=${first_name}&lastName${last_name}`;

            const router = `/success?${query}`;
            location.href = router;
          } else {
            alert("Something went wrong, please try again!");
          }
        } catch (error) {
          console.error(error);
        }
      }

      // i get the inputs and return them in an abject
      function getInputs() {
        const password = document.getElementById("password").value;
        const first_name = document.getElementById("fn").value;
        const last_name = document.getElementById("ln").value;
        const email = document.getElementById("email").value;

        return {
          password,
          first_name,
          last_name,
          email,
        };
      }

      // I validate the inputs to make sure they are not empty
      // and agree with the required parameters
      function validateInputs() {
        const { password, first_name, last_name, email } = getInputs();

        // Check if any of the required fields are empty or equal to zero
        if (!first_name || !last_name) {
          alert("First and last name are required");
          return false;
        }

        if (!password) {
          alert("Password is required");
          return false;
        }

        if (!email) {
          alert("Email is required");
          return false;
        }

        if (!validateEmail(email)) {
          alert("Email is invalid");
          return false;
        }

        if (!validatePassword(password)) {
          alert(
            "Password must be at least 8 characters long and contain a combination of letters, numbers, and special characters"
          );
          return false;
        }

        return true;
      }

      function validateEmail(email) {
        const re = /\S+@\S+\.\S+/;
        return re.test(email);
      }

      // Passwords must be at least 8 chars lond and be a
      // combination of letters, numbers, and special
      // characters. At least one of each must be
      // present
      function validatePassword(password) {
        const re =
          /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;
        return re.test(password);
      }

      // handles the loading state for button
      function handleLoadingState(isLoading) {
        const button = document.querySelector("#register-btn");
        button.innerHTML = isLoading ? "Loading..." : "Register";
        button.disabled = isLoading;
      }
    </script>
  </body>
</html>
